body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	background-image: url("../Images/background.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	color: white;
}
header {
	background-color: rgb(0, 118, 168);
	height: 150px;
	width: 100%;
}
body{
	margin: 0px;
}
.imgHeader {
	margin-top: 20px;
	margin-left: 20px;
}
.headerTitle {
	padding: 10px;
	font-size: 40px;
	margin-top: 20px;
	margin-left: 50px;
}
.imageTitle {
	display: flex;
	font-family: Castellar, "Times New Roman";
	font-size: 26px;
	float: left;
}

nav {
    float: right;
}

nav ul {
    margin-top: 90px;
    margin-right: 70px;
}

nav ul li {
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    position: relative;
}

a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
nav a:hover {

	color: #000;
}
nav a::after{
	content: '';
	display: block;
	height: 5px;
	background-color: lightblue;
	width: 0%;
	top: 0;
	transition: all ease-in-out 250ms;
}

nav a:hover::after{
width: 100%;
}

.main {
    padding: 10px;
}
.list {
    margin: 5px;
    border: 1px rgb(204, 204, 204);
    border-radius: 10px;
    display: inline-block;
    max-height: 500px;
    max-width: 240px;
    background-color: yellow;

}
.list-header {
    padding: 8px 4px;
    position: relative;
    min-height: 19px;
    display: block;
    line-height: 18px;
    text-align: center;
}
.list-title {
    cursor: pointer;
    display: inline;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin: 0px;
    min-height: 19px;
    min-width: 30px;
    word-wrap: break-word;
    color: rgb(77, 77, 77);
}
.card-list {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: visible;
}
.card {
    overflow: auto;
    padding: 6px 8px 4px;

    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 5px;

    position: relative;
    display: block;
    cursor: pointer;

    font-size: 15px;
    line-height: 30px;

    border: 1px solid gray;
    border-radius: 4px;

    width: 200px;
    text-align: left;
    background-color: white;
}
.card-title {
    color: rgb(77, 77, 77);
    display: block;
    font-weight: 400;
    margin: 0px 0px 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    background-color: transparent;
}
.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1440px)  {
    
nav ul {
    margin-top: 30px;
    margin-right: 70px;

}

}