body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    background-color: rgb(40,40,40); 
	background-attachment: fixed;
	background-size: 100% 100%;
	color: white;
}
header {
	background-color: rgb(0, 118, 168);
	height: 150px;
	width: 100%;
}
body{
	margin: 0px;
}

.topFlex {
    display: flex;
    margin-bottom: 10px;
    background-color: rgb(40,40,40); 
    border-bottom: 1px solid ghostwhite;
}

.imageTitle {
    display: flex;
    flex: 100%;
    margin-bottom: 20px;
}

.imageTitleImage {
    flex: 10%;
    height: 100px;
    width: auto;
}

.imageTitleImage:hover{
    opacity: 0.6;
}

.titleText{
    font-family: Castellar, "Times New Roman";
    font-size: 50px;
    margin-top: 20px;
    flex: auto;
    color: white;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 50px;
    border-radius: 15px;
}

.main{
    flex: 1;
    margin: 20px;
}

.competitions{
    order: 3;
}

.events{
    order: 1;
}

.repos{
    order: 2;
}

.list-title {
    font-family: Segoe UI;
    cursor: pointer;
    font-size: 30px;
    color: ghostwhite;
}

.list-header {
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imgHeader {
	margin-top: 20px;
	margin-left: 20px;
}
.headerTitle {
	padding: 10px;
	font-size: 40px;
	margin-top: 20px;
	margin-left: 50px;
}

.list {
    border-radius: 15px;
    background-color: #221E1E; 
}

.card {
    overflow: auto;
    cursor: pointer;
    margin: 10px;
    padding: 10px;

    border: 1px solid gray;
    border-radius: 4px;
    background-color: ghostwhite;
}

.card-list{
    overflow-y: auto;
    max-height: 700px;
    padding-bottom: 20px; 
}

.flexInsideCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-title {
    color: black;
    display: block;
    margin-bottom: 10px;
    font-family: Segoe UI;
    font-size: 15px;
}


.buttonCard{
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-family: Segoe UI;
    height: 30px;
    width: 60px;
}
.buttonCard:hover{
    background-color: rgb(255, 5, 0);
}

@media only screen and (max-width: 1440px)  {
    
nav ul {
    margin-top: 30px;
    margin-right: 70px;
}

}