html {
	background-image: url("../Images/background.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	/*background-color: rgb(255, 255, 255);*/
	background-color: ghostwhite;
	text-decoration-color: rgb(0, 0, 0);
	color: white;
}

body {
    margin: 0px;
}

.topFlex {
	display: flex;
	margin-bottom: 10px;
	background-color: rgb(40,40,40);
	border-color: white; 
}

.imageTitle {
	display: flex;
	flex: 100%;
	margin-bottom: 20px;
}

.imageTitleImage {
	flex: 10%;
	height: 100px;
	width: auto;
}

.imageTitleImage:hover{
	opacity: 0.6;
}

.titleText{
	font-family: Castellar, "Times New Roman";
	font-size: 50px;
	margin-top: 20px;
	flex: auto;
}

.logRegisterButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
}

.top-button{
	background-color: #4CAF50; /* Green */
	border: none;
	padding: 15px 32px;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 20px;
	height: 30px;
	text-align: center;
}

a{
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: Segoe UI;
	text-decoration: none;
}








.presentationBox {
	display: flex;
}

.presentationBox > div {
	flex: 1;
	padding: 15px;
	background-color: rgb(0, 75, 135);
	border-radius: 20px;
	color: rgb(200, 250, 200);
	font-size: 30px;
}

.presentationBox > div > p {
	font-family: Helvetica, serif;
}

.gitStatistic {
	display: grid;
	grid-template-columns: 1.4fr 1fr 1.3fr;
	grid-gap: 1em;
	filter: drop-shadow(0 0 50px #00C39D);
    top: 550px;
    font-size: 20px;
    width: 100%;
}

.gitStatistic > div {
	padding-top: 20px;
}

.gitStatistic > .img1 > img {	
	width: 100%;
	height: 65%;
}

.gitStatistic > .img2 > img{
	width: 100%;
}

.gitStatistic > .img3 > img{
	width: 98%;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(140, 140, 140);
  text-align: center;
  font-family: Segoe UI;
}

@media only screen and (max-width: 767px) {
  .topFlex {
    font-size: 20px;
    letter-spacing: 0.7px;
}

.titleText {
	display: none;
}

.topFlex > div {
    padding: 5px;
    text-align: left;
}

.logRegisterButtons {
    grid-template-rows: 50px 50px;    
    grid-gap: 0px;
}

.logRegisterButtons > div > a.button {
	width: 60px;
	height: 30px;
	font-size: 13px;
}

.imageTitle {
	font-size: 15px;
}

.imageTitleImage {
	height: 60px;
	width: 120px;
}

.presentationBox > div {
	font-size: 15px;
}

.footer {
  font-size: 15px;
}
}