html {
	background-image: url("../Images/background.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	background-color: rgb(20, 50, 100);
	text-decoration-color: rgb(0, 0, 0);
	color: white;
}

body {
    margin: 0px;
}

.topFlex {
	display: flex;
	filter: drop-shadow(0 0 50px rgb(255,0, 0));
	position: fixed;
    top: 0px;
    z-index: 999;
    font-size: 20px;
    width: 100%;
    letter-spacing: 1px;
}

.topFlex > div {
	flex: 1;
    background-color: rgb(0, 118, 168);
    padding: 20px;
    text-align: center;
}

.logRegisterButtons {
	display: grid;
    grid-template-rows: 50px 50px;    
    grid-gap: 5px;
}

.logRegisterButtons > div > a.button {
  	position: fixed;
	width: 150px;
	height: 50px;
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
}

.logRegButton {
	position: fixed;
	width: 150px;
	height: 50px;
}

.imageTitle {
	display: flex;
	flex: 1;
	font-family: Castellar, "Times New Roman";
	font-size: 26px;
}

.imageTitleImage {
	display: block;
	height: 120px;
	width: 200px;
}

.presentationBox {
	display: flex;
}

.presentationBox > div {
	flex: 1;
	padding: 15px;
	background-color: rgb(0, 75, 135);
	border-radius: 20px;
	color: rgb(200, 250, 200);
	font-size: 30px;
}

.presentationBox > div > p {
	font-family: Helvetica, serif;
}

.gitStatistic {
	display: grid;
	grid-template-columns: 1.4fr 1fr 1.3fr;
	grid-gap: 1em;
	filter: drop-shadow(0 0 50px #00C39D);
    top: 550px;
    font-size: 20px;
    width: 100%;
}

.gitStatistic > div {
	padding-top: 20px;
}

.gitStatistic > .img1 > img {	
	width: 100%;
	height: 65%;
}

.gitStatistic > .img2 > img{
	width: 100%;
}

.gitStatistic > .img3 > img{
	width: 98%;
}

.footer {
  position: absolute;
  right: 0;
  left: 0;
  background-color: rgb(140, 140, 140);
  text-align: center;
  font-family: Segoe UI;
}

@media only screen and (max-width: 767px) {
  .topFlex {
    font-size: 20px;
    letter-spacing: 0.7px;
}

.titleText {
	padding: 3px;
}

.topFlex > div {
    padding: 5px;
    text-align: left;
}

.logRegisterButtons {
    grid-template-rows: 50px 50px;    
    grid-gap: 0px;
}

.logRegisterButtons > div > a.button {
	width: 60px;
	height: 30px;
	font-size: 13px;
}

.imageTitle {
	font-size: 15px;
}

.imageTitleImage {
	height: 60px;
	width: 120px;
}

.presentationBox > div {
	font-size: 15px;
}

.footer {
  font-size: 15px;
}

}