html{
    background-image: url("../Images/background.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

body{
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
}

.container-header{
    flex: 30%;
}

.content-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(40,40,40);
    padding-bottom: 17px;
}

.Tab{
    flex: auto;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    font-family: Segoe UI;
    font-size: 50px;
    color: ghostwhite;
}

.Tab:hover{
    opacity: 0.5;
}

.main-frame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.item{
    min-width: 340px;
    background-color: #221E1E;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    height: 244px;
    border-radius: 10px;
    color: white;
    font-family: Segoe UI;
}

.item-list{
    background-color: ghostwhite;
    color: black;
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;
}

.item-language{
    text-align: center;
    font-size: 40px;
    color: #CEBA70;
    cursor: pointer;
}

.info{
    margin: 5px;
}

.logo:hover{
    opacity: 0.6;
}

hr{
    background-color: #CEBA70;
    margin: 0px 5px 0px 5px;
}

@media only screen and (max-width: 800px) {
    .item{
        width: 100%;
    }

    .content-header{
        flex-direction: column;
    }
}