html{
    background-color: rgb(40,40,40);
    background-attachment: fixed;
    background-size: 100% 100%;
}

body{
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
}

.left-container{
    display: flex;
    flex-direction: column;
}

.button-events{
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: Segoe UI;
    width: 100%;
}

.Logout{
    background-color: #FF3333;
}

.topFlex {
    display: flex;
    margin-bottom: 10px;
    background-color: rgb(40,40,40); 
    border-bottom: 1px solid ghostwhite;
}

.imageTitle {
    display: flex;
    flex: 100%;
    margin-bottom: 20px;
}

.imageTitleImage {
    flex: 10%;
    height: 100px;
    width: auto;
}

.imageTitleImage:hover{
    opacity: 0.6;
}

.titleText{
    font-family: Castellar, "Times New Roman";
    font-size: 50px;
    margin-top: 20px;
    flex: auto;
    color: white;
}

.main-frame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.picture-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: ghostwhite;
    border-radius: 10px;
}

.profile-pic{
    width: 85%;
    height: 50%;
    margin: 20px;
}

.profile-text{
    font-size: 20px;
    font-family: Segoe UI;
    margin-left: 10px;
    margin-top: 15px;
}

.items{
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: ghostwhite;
    border-radius: 10px;
    margin-left: 50px;
    width: calc(100% - 375px);
}

.item{
    width: 30%;
    background-color: #221E1E;
    height: 280px;
    margin: 10px;
    margin-left: 30px;
    font-size: 30px;
    border-radius: 10px;
    color: white;
    font-family: Segoe UI;
}

.item-list{
    background-color: ghostwhite;
    color: black;
    border-radius: 10px;
    margin: 5px;
}

.item-language{
    text-align: center;
    font-size: 40px;
    color: #CEBA70;
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info{
    margin: 5px;
    word-wrap: break-word;
}

.logo:hover{
    opacity: 0.6;
}

hr{
    background-color: #CEBA70;
    margin: 0px 5px 0px 5px;
}

@media only screen and (max-width: 1500px){
    .item{
        width: 40%;
    }
}

@media only screen and (max-width: 1150px){
    .item{
        width: 100%
    }
}