body{
	background-color: #282828; /* #454545*/
}

.sexy { 
    margin: 170px 0;
    height: 1px;
    background: red;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#1d4545), 
    	to(#1d4545), color-stop(50%, white));
}

.label_login{
	position: absolute;
	font-family: Segoe UI;
	color: white;
	padding: 8px;
	top: 34%;
	left: 39.5%;
	font-size: 50px;
}

.logo{
	position: absolute;
	top: 5%;
	left: 3%;
}

.logo:hover {
	cursor: pointer;
}

/* -------- btn class with its subclasses --------*/

.btn {
  position: absolute;
  display:block;
  background-color: #383736;
  top: 65%;
  left: 43%;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: whitesmoke;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.Register:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.Register:hover:before {
  top: 0;
}

/* -------- End of subclasses --------*/

.text {
	color: white;
	font-size: 20px;
	font-family: Segoe UI;
	position: absolute;
	top: 75%;
	left: 37%;
}

.link_login{
	position: relative;
	left: 0%;
	color: cornflowerblue;
}

.inp {
	position: absolute;
	width: 250px;
	left: 40%;
}

.ID {
	top: 45%;
}

.Email {
	top: 50%; 
}

.Password {
	top:55%;
}

.ConfirmPassword{
	top: 60%;
}

.Login-image{
	position: absolute;
	top: 35%;
	left: 26%;
	height: 200px;
	width: 200px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #8c8c8c;
  color: white;
  text-align: center;
  font-family: Segoe UI;
}

.Motto {
	position: absolute;
	color: White;
	font-size: 45px;
	font-family: Castellar;
	top: 3%;
	left: 16%;
}

.square {
	position: absolute;
	font-family: Segoe UI;
	font-size: 30px;
	top: 16%;
	width: 120px;
	height: 50px;
	text-align: center;
	color: white;
}

.square:hover
{
	cursor: pointer;
	opacity: 0.7;
}

.More{
	top: 12%;
	left: 65%;
}

.Events{
	left: 45%;
}

.Etc{
	left: 25%;
}