*{
	margin: 0;
	padding: 0;
}

body{
	background-color: rgb(40,40,40); /* #454545*/
	height: 100%;
    margin: 0;
    padding: 0;
}

.line { 
	position: absolute;
	top: 10%;
    height: 1px;
    background: red;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#1d4545), 
    	to(#1d4545), color-stop(50%, white));
}

.logo{
	position: absolute;
	top: 5%;
	left: 3%;
	width: 200px;
}

.logo:hover {
	cursor: pointer;
}

/* BEGINNING OF CONTAINERS */

.container-header{
	display: flex;
	flex-flow: row wrap;
	flex-wrap: wrap;

	font-size: 40px;
	font-family: Segoe UI;
	text-align: center;

	height: 10%;
	width: 70%;

	position: absolute;
	top: 80px;
	left: 20%;
}

.container-header:hover{
	cursor: pointer;
}

.Tab{
	flex: 1;
	color: whitesmoke;
	text-decoration: none;

	border-bottom: 1px solid rgb(30,30,30);
  	background-color: transparent;
}

.container-Login{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-between;

	padding: 60px;
	padding-left: 200px;
	padding-right: 200px;
	height: 600px;
}

.label{
	flex: 1;
}

.input {
	flex: 1;
	flex-grow: 0;
	width: 300px;
}

.text {
	flex: 1;
	order: 4;

	color: white;
	font-size: 20px;
	font-family: Segoe UI;
}

.link{
	flex: 1;

	color: cornflowerblue;
}

.Login-image{
	flex: 1;
	align-self: right;
	height: 200px;
	width: 200px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  width: 50px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Segoe UI;
  text-decoration: none;
}

.container-footer{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 5px;
	background-color: #8c8c8c;
	color: white;
	text-align: center;
	font-family: Segoe UI;
}

/* END OF CONTAINERS */