html{
    background-color: rgb(40,40,40);
    background-attachment: fixed;
    background-size: 100% 100%;
}

body{
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
}

.topFlex {
    display: flex;
    margin-bottom: 10px;
    background-color: rgb(40,40,40); 
    border-bottom: 1px solid ghostwhite;
}

.imageTitle {
    display: flex;
    flex: 100%;
    margin-bottom: 20px;
}

.imageTitleImage {
    flex: 10%;
    height: 100px;
    width: auto;
}

.imageTitleImage:hover{
    opacity: 0.6;
}

.titleText{
    font-family: Castellar, "Times New Roman";
    font-size: 50px;
    margin-top: 20px;
    flex: auto;
    color: white;
}

.main-frame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.left-container{
    display: flex;
    flex-direction: column;
}

.button-events{
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: Segoe UI;
    width: 100%;
}

.Logout{
    background-color: #FF3333;
}

.profile{
    background-color: #696969;
}

.picture-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: ghostwhite;
    border-radius: 10px;
}

.profile-pic{
    width: 85%;
    height: 50%;
    margin: 20px;
}

.profile-text{
    font-size: 20px;
    font-family: Segoe UI;
    margin-left: 10px;
    margin-top: 15px;
}

.right-container{
    background-color: ghostwhite;
    width: calc(100% - 350px);
    border-radius: 15px;
    margin-left: 20px;
}

.repo-container{
    display: flex;
    flex-direction: column;
    font-family: Segoe UI;
    font-size: 20px;
    margin: 20px;
    margin-left: 30px;
}

hr{
    background-color: #CEBA70;
    margin: 10px;
    margin-bottom: 20px;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 200px;
}

.error-img{
    flex: 1;
    opacity: 0.8;
}

.error-msg{
    flex: 1;
    font-family: Segoe UI;
    font-size: 50px;
    text-align: center;
}
